input{
    margin: 10px -16px;
    padding: 10px 10px;
    width: 100%;
}
form{
    margin: 10px;
    padding: 15px;
}
.product_cost{
    color:blue;
}
.btn-close{
 margin-left:33%!important;
 background: salmon!important;
 padding: 5px 5px;
}